<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="common ::myheader"></div>
</head>
<body>
<div th:replace="common ::navbar"></div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <br>
            <img width="500" height="500" th:src="@{/Liza.jpg}">
        </div>

        <div class="col-sm">
            <br> <br> <br>
            <h5> Hello there! <br><br>
                My name is Elisabeth, I am 26 years old, and I am passionate about mathematics, IT and beautiful
                people. I
                was
                born in Bucharest and then moved to Brasov, where I did all my studies. <br><br>
                I have attended the National College Andrei Saguna, Mathematics -IT-intensive specialization, and I
                graduated
                from the Faculty of Product and Environment Design in July 2016. <br><br>
                After finishing my studies, I got hired at NBHX TRIM GROUP. I started working as a trainee in the
                Industrial
                Engineering department, and then I moved to the Logistics department, where I discovered what Supply
                Chain
                Management means. Because the project was new, I was part of the company's development team. I am
                currently a production planner and customer service for a new Mercedes Benz project. <br><br>
            </h5>
        </div>
    </div>
    <div class="row">
        <h5>
            The whole experience has helped me to grow as a person. I've developed new skills and I've gained
            confidence. I
            learned how to analyse, develop, and find solutions to problems. I've also had the opportunity to go
            on
            several
            business trips and travel. I made friends and met people who inspired me. <br><br>
            However, I feel it’s time to move on and reinforce my wish to pursue Information Technology as a
            future
            career.
            My passion for coding empowers me to work hard and take my creativity to the next level. <br><br>
            When I'm not working, I like dancing, spending time with my friends, reading, and traveling. I also
            smile
            and
            dream a lot.</h5>
    </div>
</div>
</div>
</div>


<div th:replace="common ::script"></div>
</body>
</html>